<div class="modal-body">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="text-center">{{ name }}</h2>
        </div>
      </div>
      <br />
      <div class="row">
        {{ phoneNumber }}<br />
        {{ postalAddress }} <br />
        {{ city }}, {{ subDivision }}, {{ postalCode }},
        {{ country }}
      </div>
    </div>
  </div>
  <div class="row">
    <img
      [src]="dummyImage"
      class="d-block mx-auto"
      alt="Random Image for {{ name }}}"
    />
  </div>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Home <i class="fa fa-home" aria-hidden="true"></i>
  </button>
</div>
