<ng4-loading-spinner></ng4-loading-spinner>
<div class="container" [hidden]="isLoading">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Halifax Bank Branches</h1>
          <input
            class="form-control"
            id="citySearch"
            type="text"
            [(ngModel)]="cityFilter.PostalAddress.TownName"
            placeholder="Filter banks by city"
          />
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="collectionSize"
      ></ngb-pagination>
      <table class="table table-branches table-striped table-dark table-hover">
        <thead>
          <tr class="text-center">
            <th style="width: 16.66%">ID</th>
            <th style="width: 25%">Name</th>
            <th style="width: 33.33%">Phone Number</th>
            <th style="width: 50%">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="text-center"
            *ngFor="
              let branch of branches
                | filterBy: cityFilter
                | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
            "
          >
            <td>
              <a class="details" (click)="openBranchDetailsModal(branch)">
                <i
                  class="fa fa-user fa-2x"
                  aria-hidden="true"
                  title="Details for Branch {{ branch.Name }}"
                ></i
              ></a>
            </td>
            <td class="text-left">{{ branch.Name }}</td>
            <td>{{ branch.ContactInfo[0].ContactContent }}</td>
            <td class="text-left">
              {{ branch.PostalAddress.AddressLine }} <br />
              {{ branch.PostalAddress.TownName }},
              {{ branch.PostalAddress.CountrySubDivision }},
              {{ branch.PostalAddress.PostCode }},
              {{ branch.PostalAddress.Country }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
